/*.nav_bar {
  border-bottom: 1px solid black;
}*/

.nav_bar nav .nav-right.is-active {
  background-color: #333;
}

.nav_bar nav .nav-right.is-active a.nav-item.is-tab {
  border: none;
}

.nav_bar nav .nav-right.is-active a.nav-item.is-active {
  padding: 0.75rem;
}
